html, body {
  font-family: Lato, Raleway;
}
:root {
  --default-text-color: #333;
  --theme-color: #74cfae;
  --background-gray: #f2f2f2;
  --background-dark-gray: #4e4e4e;
  --content-max-width: 1100px;
}
.inner {
  max-width: var(--content-max-width);
  margin: 0 auto;
}
.flex-item {
  flex: 1;
}
ul {
  list-style: none;
  padding-left: 0;
}
li {
  display: inline-block;
}
figure {
  display: inline-block;
}


.header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #fff;
}
.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0;
}
.header__icon {
  display: inline-block;
  color: var(--background-dark-gray);
  /* 感覚値 */
  font-size: 30px;
}
.header__button {
  font-size: 12px;
  padding: 14px 12px;
  background-color: var(--theme-color);
  border: none;
  color: #fff;
}

.theme {
  background-color: var(--background-gray);
  width: 100%;
}
.theme__inner {
  text-align: center;
  padding: 250px 0;
}
.theme__title {
  font-size: 90px;
  font-weight: 700;
  margin-bottom: 20px;
  color: var(--theme-color);
}
.theme__text {
  font-size: 30px;
  color: #c0c0c0;
}

.speak {
  background-color: var(--theme-color);
  width: 100%;
}
.speak__inner {
  display: flex;
  justify-content: space-around;
  padding-top: 50px;
}
.speak__img {
  flex: 1;
  text-align: center;
}
.speak__introduction {
  text-align: center;
  flex: 2;
}
.speak__introduction-title {
  font-size: 24px;
  color: var(--background-gray);
  margin-bottom: 35px;
}
.speak__introduction-text {
  font-size: 20px;
  color: var(--background-gray);
  word-break: break-all;
}

.working {
  background-color: var(--background-gray);
  width: 100%;
  padding: 60px 0 70px 0;
}
.working__inner {
  text-align: center;
}
.working__title {
  font-size: 24px;
  margin-bottom: 40px;
  color: var(--background-dark-gray);
}
.working__contents {
  margin-bottom: 90px;
}
.working__contents-list {
  font-size: 0;
  line-height: 0;
}
.working__contents-list:nth-child(2),
.working__contents-list:nth-child(5) {
  margin: 0 96px;
}
.working__contents-list:nth-child(1),
.working__contents-list:nth-child(2),
.working__contents-list:nth-child(3) {
  margin-bottom: 80px;
}
.working__footer {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 800px;
  margin: 0 auto;
}
.working__text {
  margin-right: 90px;
  color: var(--background-dark-gray);
  word-break: break-all;
}
.working__btn {
  background-color: var(--theme-color);
  border: none;
  color: var(--background-gray);
  font-size: 12px;
  padding: 14px 20px;
  display: inline-block;
  /* 改行させない */
  white-space: nowrap;
}

.skills {
  background-color: var(--background-dark-gray);
  padding: 70px 0 100px 0;
  width: 100%;
}
.skills__inner {
  text-align: center;
}
.skills__title {
  color: var(--background-gray);
  font-size: 24px;
  margin-bottom: 60px;
}
.skills__contents-list:not(:nth-child(4)) {
  margin-right: 180px;
}
.skills__caption {
  font-size: 16px;
  margin-top: 10px;
  color: var(--background-gray);
}

.sns {
  background-color: var(--background-gray);
  padding: 200px 0;
}
.sns__contents {
  text-align: center;
}
.sns__contents-list {
  width: 185px;
}
.sns__icon {
  color: var(--theme-color);
  font-size: 48px;
}

.footer {
  background-color: var(--theme-color);
  padding: 20px 0 25px 0;
}
.footer__inner {
  text-align: right;
  max-width: var(--content-max-width);
}
.footer__copy-right {
  color: var(--background-gray);
  font-size: 12px;
}