/* 共通 */
html, body {
  font-family: 'Lato', sans-serif;
  font-family: 'Raleway', sans-serif;
}

:root {
  --default-text-color: #333;
  --theme-color: #74cfae;
  --background-gray: #f2f2f2;
  --background-dark-gray: #4e4e4e;
  --content-max-width: 1100px;
  --pad-max-width: 1199px;
  --mobile-max-width: 767px;
}

ul {
  list-style: none;
  padding-left: 0;
}

a {
  text-decoration: none;
}

figure {
  display: inline-block;
}

.inner {
  max-width: var(--content-max-width);
  margin: 0 auto;
}

.back-gray {
  background-color: var(--background-gray);
  width: 100%;
}

.button {
  font-size: 12px;
  background-color: var(--theme-color);
  border: none;
  color: #fff;
  display: inline-block;
  transition: .3s;
}

.button:hover {
  cursor: pointer;
  color: var(--default-text-color);
}

/* 文字の折り返し */
.wrap-back {
  display: none;
}

/* pad */
@media screen and (max-width: 1199px) {
  .inner {
    max-width: 97%;
  }
}

/* mobile */
@media screen and (max-width: 767px) {
  .wrap-back {
    display: block;
  }
}
/* header */
.header {
  width: 100%;
  background-color: #fff;
}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0;
}

.header__icon {
  display: inline-block;
  color: var(--background-dark-gray);
  font-size: 30px;
}

.header__btn {
  padding: 14px 12px;
}

/* mobile-menu */
.mobile-menu__btn {
  display: none;
  padding: 10px;
  border: solid 1px #ddd;
  border-radius: 4px;
}

.mobile-menu__btn-line {
  display: block;
  width: 26px;
  background-color: #ddd;
  height: 2px;
  margin-bottom: 5px;
}

.mobile-menu__btn-line:last-child {
  margin-bottom: 0;
}

/* mobile */
@media screen and (max-width: 767px) {
  .header__btn {
    display: none;
  }

  .mobile-menu__btn {
    display: inline-block;
  }
}

/* bolt theme */
.theme__inner {
  text-align: center;
  padding: 250px 0;
}

.theme__title {
  font-size: 90px;
  font-weight: 700;
  color: var(--theme-color);
}

.theme__text {
  font-size: 30px;
  color: #c0c0c0;
  margin-top: 20px;
}

/* mobile */
@media screen and (max-width: 767px) {
  .theme__inner {
    padding: 160px 0 130px;
  }
  .theme__title {
    font-size: 80px;
  }
}

/* what we can do? */
.speak {
  background-color: var(--theme-color);
  width: 100%;
}

.speak__inner {
  display: flex;
  justify-content: space-around;
  padding-top: 50px;
}

/* pad */
@media screen and (max-width: 1199px) {
  .speak__inner {
    flex-direction: column;
    justify-content: center;
    padding: 50px 0 25px;
  }
  .speak__introduction {
    margin-top: 20px;
  }
}

.speak__thumb {
  flex: 1;
  text-align: center;
  font-size: 0;
}

.speak__introduction {
  flex: 2;
  text-align: center;
}

.speak__introduction-title {
  font-size: 24px;
  color: var(--background-gray);
}

.speak__introduction-text {
  font-size: 20px;
  color: var(--background-gray);
  word-break: break-word;
  margin-top: 35px;
}

/* our latest work */
.working {
  width: 100%;
  padding: 60px 0 70px;
}

.working__inner {
  text-align: center;
}

.working__title {
  font-size: 24px;
  color: var(--background-dark-gray);
}

.working__contents {
  margin-top: 40px;
  font-size: 0;
}

.working__li {
  display: inline-block;
  margin-top: 80px;
  margin-left: 100px;
}

/* 左端 */
.working__li:first-child,
.working__li:nth-child(3n + 1) {
  margin-left: 0;
}

/* 1〜3番目 */
.working__li:first-child,
.working__li:nth-child(2),
.working__li:nth-child(3) {
  margin-top: 0;
}

.working__thumb {
  opacity: 0.7;
  transition: 0.3s;
}

.working__link:hover .working__thumb {
  opacity: 1;
}

.working__footer {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 800px;
  margin: 90px auto 0;
}

.working__text {
  color: var(--background-dark-gray);
  word-break: break-all;
}

.working__btn {
  padding: 14px 20px;
  /* 改行させない */
  white-space: nowrap;
  margin-left: 90px;
}

/* pad */
@media screen and (max-width: 1199px) {
  .working__li {
    display: block;
    margin: 0;
  }

  .working__li:nth-child(3n) {
    margin-bottom: 80px;
  }

  .working__li:last-child {
    margin-bottom: 0;
  }

  .working__footer {
    flex-direction: column;
    margin-top: 80px;
  }

  .working__btn {
    margin: 40px 0 0 0;
  }
}

/* our skills */
.skills {
  background-color: var(--background-dark-gray);
  padding: 70px 0 100px 0;
  width: 100%;
}

.skills__inner {
  text-align: center;
}

.skills__title {
  color: var(--background-gray);
  font-size: 24px;
}

.skills__contents {
  margin-top: 60px;
}

.skills__li {
  display: inline-block;
  margin-left: 180px;
}

.skills__li:first-child {
  margin-left: 0;
}

.skills__graph-caption {
  font-size: 16px;
  margin-top: 10px;
  color: var(--background-gray);
}

/* pad */
@media screen and (max-width: 1199px) {
  .skills__li {
    display: block;
    margin: 88px 0 0;
  }
  .skills__li:first-child {
    margin-top: 0;
  }
}

/* sns */
.sns__inner {
  padding: 200px 0;
}

.sns__contents {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.sns__link {
  display: block;
  position: relative;
  width: 185px;
  height: 100px;
  transition: 0.3s;
}

.sns__link:hover {
  cursor: pointer;
  background-color: #fff;
}

.sns__icon {
  color: var(--theme-color);
  font-size: 48px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* mobile */
@media screen and (max-width: 767px) {
  .sns__contents {
    flex-direction: column;
    align-items: center;
  }
  .sns__inner {
    padding: 50px 15px;
  }
  .sns__li {
    width: 100%;
  }
  .sns__link {
    width: 100%;
  }
}

/* footer */
.footer {
  background-color: var(--theme-color);
}

.footer__inner {
  text-align: right;
  padding: 20px 0 25px;
}

.footer__copy-right {
  color: var(--background-gray);
  font-size: 12px;
}